body: {
  height: 100%;
}

form {
    width: 100% !important;
}

#contractlyLeft {
  width: 250px;
}

.btn {
    margin: 5px;
}

.current-task {
  padding: 10px;
}

.completedTasks {
  padding: 10px;
  border: 1px solid;
}
