.signup {
  width: 50%;
  margin: 0 auto;
}

.signin {
  width: 50%;
  margin: 0 auto;
}

#contractlyLeft {
  height: 1500px;
  width: 250px;
}

.btn {
    margin: 5px;
}

.current-task {
  padding: 10px;
}

.completedTasks {
  padding: 10px;
  border: 1px solid;
}